@import '../../../variables';

.ea-schedule-table {
  width: 100%;

  th {
    font-weight: normal;
    text-align: left;
  }

  th, td {
    padding: 0.8em 1.2em;
    vertical-align: top;
    box-sizing: border-box;
  }

  .time {
    background: $ea-grey;
  }

  .break-row {
    background: $ea-grey!important;
  }

  .time-slot {
    background: $ea-vibrant-blue;
  }
}

@media (max-width: 600px) {
  .ea-schedule-table {
    thead, tbody, th, td, tr {
      display: block;
      width: 100%;
    }

    thead {
      display: none;
    }

    tr {
      border-bottom: 0.5em solid $ea-white;
    }

    .time, .time-slot {
      border-bottom: 0.1em solid $ea-white;
    }
  }
}
