<table class="ea-schedule-table">
  <thead *ngIf="streams.length > 0">
    <tr>
      <th width="80px">&nbsp;</th>
      <th *ngFor="let stream of streams" [style.width.%]="columnWidthInPercentages" [style.background]="stream.color">{{stream.name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hour of slotsMap.keys()">
      <td width="80px" class="time">{{hour}}</td>
      <td *ngFor="let timeSlotGridItem of slotsMap.get(hour)"
          [attr.colspan]="timeSlotGridItem.colSpan"
          [attr.rowspan]="timeSlotGridItem.rowSpan"
          [style.background]="timeSlotGridItem.color"
          [class.break-row]="timeSlotGridItem.timeSlot.isBreak"
          class="time-slot">
        <ea-time-slot [timeSlot]="timeSlotGridItem.timeSlot"></ea-time-slot>
      </td>
    </tr>
  </tbody>
</table>
