.clubbing-info-new {
  margin: 24px;
  display: flex;
  flex-direction: column;

  .clubbing-container {
    flex: 1;
    padding: 0 15px;
  }

  .clubbing-card {
    margin: 5px;
    text-align: center;

    li {
      text-align: start;
      margin: 1em;
    }

    .mat-card-header {
      justify-content: center;
    }

    .address {
      display: flex;
      flex-direction: column;
    }

    .icon-label {
      margin-left: 0.3em;
      text-transform: uppercase;
    }

    .mat-card-actions {
      padding: 0;
    }
  }
}

// Media query for iPad
@media (max-width: 768px) {
  .clubbing-info-new {
    margin-top: 5px;
    flex-direction: column;
    .clubbing-container {
      padding: 11px 0;
    }
  }
}

// Media query for large phone
@media (max-width: 425px) and (orientation: portrait) {
  .clubbing-info-new {
    .clubbing-container {
      padding: 15px 0;
    }
  }
}
