<div class="clubbing-info-new">
  <!-- Sightseeing one -->
  <h2>Sightseeing</h2>
  <div class="clubbing-container">
    <!-- Card -->
    <mat-card class="clubbing-card">
      <mat-card-header>
        <mat-card-title>
          <h2 class="mat-title">Dom Tower</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="address mat-body-1">
          <span>Domplein 21</span>
          <span>UTRECHT</span>
        </p>


      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://www.google.com/maps/dir/?api=1&destination=Domplein+21+UTRECHT&destination_place_id=ChIJgf7hSkVvxkcRNQQW-7nl0T8"
          target="_blank">
          <mat-icon>directions</mat-icon>
          <span class="icon-label">Navigate</span>
        </a>
        <a mat-button href="https://www.domtoren.nl/en" target="_blank">
          <mat-icon>language</mat-icon>
          <span class="icon-label">Site</span>
        </a>
      </mat-card-actions>
    </mat-card>

  </div>

  <h2>Clubbing</h2>

  <!-- Clubbing one -->
  <div class="clubbing-container">
    <!-- Card -->
    <mat-card class="clubbing-card">
      <mat-card-header>
        <mat-card-title>
          <h2 class="mat-title">Beers & Barrels</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="address mat-body-1">
          <span>Oudegracht aan de Werf</span>
          <span>125 UTRECHT</span>
        </p>


      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://www.google.com/maps/dir/?api=1&destination=Oudegracht+aan+de+Werf+125+UTRECHT&destination_place_id=ChIJM5dFoERvxkcR3qQLcGbrVkk"
          target="_blank">
          <mat-icon>directions</mat-icon>
          <span class="icon-label">Navigate</span>
        </a>
        <a mat-button href="https://beersbarrels.nl/" target="_blank">
          <mat-icon>language</mat-icon>
          <span class="icon-label">Site</span>
        </a>
      </mat-card-actions>
    </mat-card>

  </div>
  <!-- Clubbing two -->
  <div class="clubbing-container">
    <!-- Card -->
    <mat-card class="clubbing-card">
      <mat-card-header>
        <mat-card-title>
          <h2 class="mat-title">De Winkel van Sinkel</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="address mat-body-1">
          <span>Oudegracht 158</span>
          <span>UTRECHT</span>
        </p>


      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://www.google.com/maps/dir/?api=1&destination=Oudegracht+158+UTRECHT&destination_place_id=ChIJtdR-w0RvxkcRlmBMSzg6O1w"
          target="_blank">
          <mat-icon>directions</mat-icon>
          <span class="icon-label">Navigate</span>
        </a>
        <a mat-button href="https://www.dewinkelvansinkel.nl/agenda.html" target="_blank">
          <mat-icon>language</mat-icon>
          <span class="icon-label">Site</span>
        </a>
      </mat-card-actions>
    </mat-card>

  </div>
  <!-- Clubbing three -->
  <div class="clubbing-container">
    <!-- Card -->
    <mat-card class="clubbing-card">
      <mat-card-header>
        <mat-card-title>
          <h2 class="mat-title">Belgisch Biercafé Olivier Utrecht</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="address mat-body-1">
          <span>Achter Clarenburg 6A</span>
          <span>UTRECHT</span>
          <span>(nice beer café in a former church)</span>
        </p>


      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://www.google.com/maps/dir/?api=1&destination=Achter+Clarenburg+6A+UTRECHT&destination_place_id=ChIJ_dlisFxvxkcRA3Fd4GPCQ9Y"
          target="_blank">
          <mat-icon>directions</mat-icon>
          <span class="icon-label">Navigate</span>
        </a>
        <a mat-button href="https://utrecht.cafe-olivier.be/" target="_blank">
          <mat-icon>language</mat-icon>
          <span class="icon-label">Site</span>
        </a>
      </mat-card-actions>
    </mat-card>

  </div>
  <!-- Clubbing four -->
  <div class="clubbing-container">
    <!-- Card -->
    <mat-card class="clubbing-card">
      <mat-card-header>
        <mat-card-title>
          <h2 class="mat-title">Kafé België</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="address mat-body-1">
          <span>Oudegracht 196</span>
          <span>UTRECHT</span>
        </p>


      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://www.google.com/maps/dir/?api=1&destination=Oudegracht+196+UTRECHT&destination_place_id=ChIJW5MOkVpvxkcRDYqgo2pLGBY"
          target="_blank">
          <mat-icon>directions</mat-icon>
          <span class="icon-label">Navigate</span>
        </a>
        <a mat-button href="http://www.kafebelgie.nl/" target="_blank">
          <mat-icon>language</mat-icon>
          <span class="icon-label">Site</span>
        </a>
      </mat-card-actions>
    </mat-card>

  </div>

</div>