<mat-card class="support-card">
  <mat-card-header>
    <p class="supportInfo">
      For particular questions and support please ask on this whatsapp.
    </p>
  </mat-card-header>
  <mat-card-content>
    <a mat-button class="phoneNumber" href="https://chat.whatsapp.com/KYy5ppr2cvhGo8qiMd6JSQ">
      <mat-icon class="icon" svgIcon="icon_whatsapp"></mat-icon>
      Whatsapp chat
    </a>
    <p class="supportInfo">
      For more info please visit
      <a href="https://troom.capgemini.com/sites/vcc/Wiki/iCSDSummit2018.aspx" target="_blank">Official Website.</a>
      (Please connect to Capgemini network.)
    </p>
  </mat-card-content>
</mat-card>