agm-map {
  height: 300px;
}

.hotel-info {
  margin: 1em 0;

  .title {
    display: flex;
    align-items: center;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin: 0;
      a {
        text-decoration: none;
        .phone {
          display: flex;
          justify-content: center;
        }

        .location {
          display: flex;
          align-items: center;
          .address-details {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
}
