@import "cg-theme";
@import "variables";

body {
  background: $ea-white;
  margin: 0;
}

.mat-nav-list .mat-list-item .mat-list-item-content {
  padding: 0 60px 0 30px!important;
}

.mat-tab-label {
  min-width: 300px;
}

.mat-tab-group, .mat-tab-body-wrapper {
  height: 100%;
}
